<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
 <key>CLIENT_ID</key>
 <string>140590024424-3382vpo9qf15vduki08vlq5verocn1du.apps.googleusercontent.com</string>
 <key>REVERSED_CLIENT_ID</key>
 <string>com.googleusercontent.apps.140590024424-3382vpo9qf15vduki08vlq5verocn1du</string>
 <key>API_KEY</key>
 <string>AIzaSyAK2kY27EJeVRFsP-ueP2YhvSqn_uQjFRA</string>
 <key>GCM_SENDER_ID</key>
 <string>140590024424</string>
 <key>PLIST_VERSION</key>
 <string>1</string>
 <key>BUNDLE_ID</key>
 <string>co.ruedarico.Flash-Chat-iOS13</string>
